body {
  font-family: 'Asap', sans-serif;
  margin: 5% 0;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 60px;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

a {
  color: #ff7e00;
}

a:hover {
  color: #ccc;
  transition: 0.2s all ease;
}

.container {
  width: 60%;
}

.section {
  margin: 0 0 5%;
}

.timeline {
  margin: 3%;
}

.lane-text {
  font-size: 10px;
}

.tick {
  font-family: 'Asap', sans-serif;
}

.tick line {
  opacity: 0.1;
}

.method-caption {
  font-size: 12px;
  color: #9e9e9e;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    margin: 10% 0;
  }

  .container {
    width: 85%;
  }

  .title h1 {
    font-size: 125px;
  }

  h3 {
    font-size: 55px;
  }

  p {
    font-size: 40px;
    margin: 0 0 5%;
  }

  a {
    font-size: 40px;
  }

  .section {
    margin: 0 0 10%;
  }
}