body {
  font-family: 'Abel', sans-serif;
}

a {
  color: #ff7e00;
}

.container {
  margin-top: 5%;
  width: 75%;
}

.header {
  text-align: center;
  margin: 0 0 2%;
}

.lane-text.main {
  font-size: 10px;
}

.lane-text.mini {
  font-size: 5px;
}

.mini-label {
  font-size: 5px;
  fill: #fff;
}