body {
  font-family: 'Abel', sans-serif;
}

svg {
  margin: 2%;
}

h1 {
  text-align: center;
  font-size: 60px;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

a {
  color: #ff7e00;
}

.container {
  margin-top: 5%;
  width: 60%;
}

.header {
  margin: 0 0 5%;
}

.lane-text.main {
  font-size: 10px;
}

.lane-text.mini {
  font-size: 5px;
}

.mini-label {
  font-size: 5px;
  fill: #fff;
}

.tick {
  font-family: 'Abel', sans-serif;
}

.tick line {
  opacity: 0.1;
}